
@model SecretViewModel

<h1>Welcome to the secret page!!!</h1>
<h1>Id: @Model.User.Id</h1>
<h1>First Name: @Model.User.FirstName</h1>
<h1>Last Name: @Model.User.LastName</h1>
<h1>Email: @Model.User.Email</h1>